<div class="card my-2" [ngClass]="{'border-success': first, 'border-danger': last, 'border-primary': odd, 'border-warning': even}">
    <img class="card-img-top" [src]="myUser.avatar_url" alt="Title">
    <div class="card-body">
        <h4 class="card-title">{{ myUser.login }}</h4>
        <div class="card-text">
            <a [href]="myUser.html_url" class="btn btn-primary">Read more...</a>
            <button class="btn btn-danger ms-2" (click)="removeUser(myUser)">Delete</button>
            <button class="btn btn-warning ms-2" (click)="test($event)">Test</button>
        </div>
    </div>
</div>