
<div class="row">
    <div class="col-md-6">
        <h1 class="my-5">List of Users</h1>
    </div>
    <div class="col-md-6">
        <div class="input-group mt-5">
            <input [(ngModel)]="search" type="search" class="form-control" placeholder="Search a user">
            <button (click)="searchUser()" class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3" *ngFor="let user of users">
       <app-card [my-user]="user" (deleteUser)="destroyUser($event)"></app-card>
</div>

